.container {

  .header {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;

    &-content {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    img {
      width: 120px;
    }
  
    h1 {
      font-size: 1.6rem;
    }

  }



}