.main {
  max-width: 1024px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .compteur {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      width: 100px;
      text-align: center;
      span {
        font-size: 5rem;
        font-weight: 700;
        cursor: pointer;
      }
    }



    div {
      font-size: 5rem;
      padding: 10px;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      text-align: center;
      width: 100px;
      background-color: #5C48D3;
    }
  }

  .reset {
    margin-top: 30px;
    font-size: 1.5rem;
    background-color: #5C48D3;
    padding: 10px;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
  }


}